<p style="text-align:center"><b>Game Name: <%= @game.name %></b></p>
<p style="text-align:center"><b>Current Player: <%= User.find_by_id(@game.user_id).email %></b></p>

<div class="flex-container">
    <div class="container">
    <% for j in 1..8 %>
        <% for i in 1..8 do %>
            <% if j % 2 == 1 %>
                <% if i % 2 == 1 %>
                    <div class = "square whiteSquare" %>
                <% else %>
                    <div class = "square brownSquare" %>
                <% end %>
            <% else %>
                <% if i % 2 == 1 %>
                    <div class="square brownSquare">
                <% else %>
                    <div class="square whiteSquare">
                <% end %>
            <% end %>
            <% if @game.contains_piece?(i, j) %>
                <%= image_tag @game.pieces.find_by(x_position: i, y_position: j).name + ".png" %>
            <% end %>
            </div>
        <% end %>
    <% end %>
    </div>
</div>