@import "bootstrap";



body {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .container {
    width: 642px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
  }
  

.square {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
  
.brownSquare {
background-color: brown;
}

.whiteSquare {
background-color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}


